.large-non-bold {
    font-size: large;
    font-weight: normal;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #FAE5F1;
    color: #0000FF;
    white-space: pre-line;
  }
